<extend name="Base/base"/>
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$pageName}

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <form action="/admin/module/{$url}" method="post" class="form-horizontal">

                        <div class="control-group">

                            <label class="control-label">模块名称</label>

                            <div class="controls">
                                <input type="hidden" name="id" value="{$thisModule[id]}" />
                                <input type="text" class="span6 m-wrap" name="module-name" value="{$thisModule[modulename]}">

                                <span class="help-inline">*请填写模块名称</span>

                            </div>

                        </div>
                        <div class="control-group">

                            <label class="control-label">所属栏目</label>

                            <div class="controls">
                                <if condition="($type eq null)">
                                <span class="help-inline">{$fmodule[modulename]}</span>
                                    <input type="hidden" name="fid" value="{$fmodule[id]}">
                                    <else/>
                                <span class="help-inline"> 一级栏目没有所属栏目 </span>
                                    <input type="hidden" name="fid" value="0">
                                </if>
                            </div>

                        </div>
                        <div class="control-group">

                            <label class="control-label">请选择类型</label>

                            <div class="controls">

                                <select class="span6 m-wrap" tabindex="1" name="module-type">
                                    <if condition="($thisModule[moduletype] eq 'Sub')">
                                        <option value="">请选择类型</option>

                                        <option value="Sub" selected>模块分类</option>

                                        <option value="Simple">独立页面</option>

                                        <option value="News">多信息列表</option>

                                        <option value="DownLoad">多信息下载</option>

                                        <option value="Video">多信息视频</option>

                                        <option value="Url">外部链接</option>

                                        <option value="Message">留言板</option>
                                        <elseif condition="($thisModule[moduletype] eq 'News')"/>
                                        <option value="">请选择类型</option>

                                        <option value="Sub">模块分类</option>

                                        <option value="Simple">独立页面</option>

                                        <option value="News" selected>多信息列表</option>

                                        <option value="DownLoad">多信息下载</option>

                                        <option value="Video">多信息视频</option>

                                        <option value="Url">外部链接</option>

                                        <option value="Message">留言板</option>
                                        <elseif condition="($thisModule[moduletype] eq 'Simple')"/>
                                        <option value="">请选择类型</option>

                                        <option value="Sub">模块分类</option>

                                        <option value="Simple" selected>独立页面</option>

                                        <option value="News">多信息列表</option>

                                        <option value="DownLoad">多信息下载</option>

                                        <option value="Video">多信息视频</option>

                                        <option value="Url">外部链接</option>

                                        <option value="Message">留言板</option>
                                        <elseif condition="($thisModule[moduletype] eq 'DownLoad')"/>
                                        <option value="">请选择类型</option>

                                        <option value="Sub">模块分类</option>

                                        <option value="Simple">独立页面</option>

                                        <option value="News">多信息列表</option>

                                        <option value="DownLoad" selected>多信息下载</option>

                                        <option value="Video">多信息视频</option>

                                        <option value="Url">外部链接</option>

                                        <option value="Message">留言板</option>
                                        <elseif condition="($thisModule[moduletype] eq 'Video')"/>
                                        <option value="">请选择类型</option>

                                        <option value="Sub">模块分类</option>

                                        <option value="Simple">独立页面</option>

                                        <option value="News">多信息列表</option>

                                        <option value="DownLoad">多信息下载</option>

                                        <option value="Video" selected>多信息视频</option>

                                        <option value="Url">外部链接</option>

                                        <option value="Message">留言板</option>
                                        <elseif condition="($thisModule[moduletype] eq 'Url')"/>
                                        <option value="">请选择类型</option>

                                        <option value="Sub">模块分类</option>

                                        <option value="Simple">独立页面</option>

                                        <option value="News">多信息列表</option>

                                        <option value="DownLoad">多信息下载</option>

                                        <option value="Video">多信息视频</option>

                                        <option value="Url" selected>外部链接</option>

                                        <option value="Message">留言板</option>
                                        <elseif condition="($thisModule[moduletype] eq 'Message')"/>
                                        <option value="">请选择类型</option>

                                        <option value="Sub">模块分类</option>

                                        <option value="Simple">独立页面</option>

                                        <option value="News">多信息列表</option>

                                        <option value="DownLoad">多信息下载</option>

                                        <option value="Video">多信息视频</option>

                                        <option value="Url">外部链接</option>

                                        <option value="Message" selected>留言板</option>
                                        <else/>

                                        <option value="">请选择类型</option>

                                        <option value="Sub">模块分类</option>

                                        <option value="Simple">独立页面</option>

                                        <option value="News">多信息列表</option>

                                        <option value="DownLoad">多信息下载</option>

                                        <option value="Video">多信息视频</option>

                                        <option value="Url">外部链接</option>

                                        <option value="Message">留言板</option>
                                    </if>
                                </select>

                                <span class="help-inline">*请选择模板类型</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">模块排序</label>

                            <div class="controls">

                                <select class="span6 m-wrap" tabindex="1" name="list-num">
                                    <if condition="($thisModule[listnum] gt 0)">
                                        <option value="{$thisModule[listnum]}">{$thisModule[listnum]}</option>
                                        <else/>
                                        <option value="0">请选择, 数字大的优先显示</option>
                                    </if>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>

                                <span class="help-inline">默认为零, 数字大的优先显示</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">附加功能</label>

                            <div class="controls">

                                <select class="span6 m-wrap" tabindex="1" name="moption">
                                    <if condition="($thisModule[moption] eq 'Node')">
                                        <option value="None" selected>无</option>

                                        <option value="Sort">简短信息</option>

                                        <option value="Img">标题图片</option>

                                        <option value="Both">简短信息+标题图片</option>
                                        <elseif condition="($thisModule[moption] eq 'Sort')"/>
                                        <option value="None">无</option>

                                        <option value="Sort" selected>简短信息</option>

                                        <option value="Img">标题图片</option>

                                        <option value="Both">简短信息+标题图片</option>
                                        <elseif condition="($thisModule[moption] eq 'Img')"/>
                                        <option value="None">无</option>

                                        <option value="Sort">简短信息</option>

                                        <option value="Img" selected>标题图片</option>

                                        <option value="Both">简短信息+标题图片</option>
                                        <elseif condition="($thisModule[moption] eq 'Both')"/>
                                        <option value="None">无</option>

                                        <option value="Sort">简短信息</option>

                                        <option value="Img">标题图片</option>

                                        <option value="Both" selected>简短信息+标题图片</option>
                                        <else/>
                                        <option value="None">无</option>

                                        <option value="Sort">简短信息</option>

                                        <option value="Img">标题图片</option>

                                        <option value="Both">简短信息+标题图片</option>
                                    </if>

                                </select>

                                <span class="help-inline">*请选择附加功能，默认为无</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">外部链接</label>

                            <div class="controls">

                                <input type="url" class="span6 m-wrap" name="url" value="{$thisModule[url]}">

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">是否前台显示</label>

                            <div class="controls">

                                <label class="radio">
                                    <div class="radio">
                                        <span>
                                            <input type="radio" name="m-display"
                                                   <if condition="($thisModule[m_display] eq 0)"> checked="" </if>
                                                   value="0">
                                        </span>
                                    </div>
                                    是
                                </label>
                                <label class="radio">
                                    <div class="radio">
													<span class="checked">
														<input type="radio" name="m-display" value="1"
                                                   <if condition="($thisModule[m_display] eq 1)"> checked=""
                                                   <elseif condition="($thisModule[m_display] eq null)"/>checked=""</if>>
													</span>
                                    </div>
                                    否
                                </label>

                            </div>

                        </div>

                        <div class="form-actions">

                            <button type="submit" class="btn blue">提交</button>

                            <button type="reset" class="btn" onclick="flush()">取消</button>

                        </div>

                    </form>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>