<extend name="Base/base"/>
<block name="css_module">
    <style>
        .module-list{
            display: block;
            float: none;
            clear: both;
        }
        .module-list li{
            float: left;
            padding: 10px 20px;
            list-style: none;
            width: 130px;
            height: 20px;
            display: block;
            margin: 0 auto;
        }
        .module-list div{
            float: none;
            clear: both;
        }
        .divider{
            border-bottom: 1px solid #ccc;
            width: 100%;
        }
    </style>
</block>
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$pageName}

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <ul class="module-list">
                        <li>模块名称</li>
                        <li>模块类型</li>
                        <li>是否显示</li>
                        <li>添加子模块</li>
                        <li>模块排序</li>
                        <li>操作</li>
                    </ul>
                    <volist name="modules" id="module" key="key">
                    <ul class="module-list">
                        <li><a data-toggle="collapse" data-parent="#" href="#{$key}"> + {$module[modulename]}</a></li>
                        <li  data-toggle="collapse" data-parent="#" href="#{$key}">
                            <if condition="($module[moduletype] eq 'Sub')">
                                模块分类
                                <elseif condition="($module[moduletype] eq 'Simple')"/>
                                独立页面
                                <elseif condition="($module[moduletype] eq 'News')"/>
                                多信息列表
                                <elseif condition="($module[moduletype] eq 'DownLoad')"/>
                                多信息下载
                                <elseif condition="($module[moduletype] eq 'Video')"/>
                                多信息视频
                                <elseif condition="($module[moduletype] eq 'Url')"/>
                                外部链接
                            </if>
                        </li>
                        <li  data-toggle="collapse" data-parent="#" href="#{$key}">
                            <if condition="($module[m_display] eq 0)">是<else/>否</if>
                        </li>
                        <li>
                            <if condition="($module[moduletype] eq 'Sub')">
                            <a href="/admin/module/add?type=child&pid={$module[id]}" class="btn green">添加子模块</a>
                            </if>
                        </li>
                        <li><input class="span5" type="text"></li>
                        <li>
                            <a href="/admin/module/edit?type=parent&id={$module[id]}" class="btn blue">编辑</a>
                            <a href="/admin/module/delete?type=parent&id={$module[id]}" class="btn red">删除</a>
                        </li>

                        <!-- id 是必须的 -->
                        <div id="{$key}" class="panel-collapse collapse">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>模块名称</th>
                                    <th>模块分类</th>
                                    <th>排序</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="module['cmodule']" id="i" key="ck">
                                <tr>
                                    <td>{$ck}</td>
                                    <td>{$i[modulename]}</td>
                                    <td>
                                        <if condition="($i[moduletype] eq 'Sub')">
                                                模块分类
                                            <elseif condition="($i[moduletype] eq 'Simple')"/>
                                                独立页面
                                            <elseif condition="($i[moduletype] eq 'News')"/>
                                                多信息列表
                                            <elseif condition="($i[moduletype] eq 'DownLoad')"/>
                                                多信息下载
                                            <elseif condition="($i[moduletype] eq 'Video')"/>
                                                多信息视频
                                            <elseif condition="($i[moduletype] eq 'Url')"/>
                                                外部链接
                                        </if>
                                    </td>
                                    <td> {$i[listnum]} </td>
                                    <td>
                                        <a href="/admin/module/edit?type=child&id={$i[id]}" class="btn blue">编辑</a>
                                        <a href="/admin/module/delete?type=child&id={$i[id]}" class="btn red">删除</a>
                                    </td>
                                </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>

                    </ul>
                    <!--<div class="divider"></div>-->
                    </volist>

                    <div class="form-actions">
                        <a href="/admin/module/add?type=parent" class="btn green pull-right">添加分类模块</a>
                    </div>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>