<extend name="Base/base"/>
<block name="page_content">
	<div class="page-content">

	<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

	<div id="portlet-config" class="modal hide">

		<div class="modal-header">

			<button data-dismiss="modal" class="close" type="button"></button>

			<h3>Widget Settings</h3>

		</div>

		<div class="modal-body">

			<p>Here will be a configuration form</p>

		</div>

	</div>

	<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

	<div class="container-fluid">

		<!-- BEGIN PAGE HEADER-->

		<div class="row-fluid">

			<div class="span12">

				<!-- BEGIN PAGE TITLE & BREADCRUMB-->

				<h3 class="page-title">

					500 Page Option 1 <small>500 page option 1</small>

				</h3>

				<ul class="breadcrumb">

					<li>

						<i class="icon-home"></i>

						<a href="index.html">Home</a>

						<i class="icon-angle-right"></i>

					</li>

					<li>

						<a href="#">Extra</a>

						<i class="icon-angle-right"></i>

					</li>

					<li><a href="#">500 Page Option 1</a></li>

				</ul>

				<!-- END PAGE TITLE & BREADCRUMB-->

			</div>

		</div>

		<!-- END PAGE HEADER-->

		<!-- BEGIN PAGE CONTENT-->

		<div class="row-fluid">

			<div class="span12 page-500">

				<div class=" number">

					500

				</div>

				<div class=" details">

					<h3>Opps, Something went wrong.</h3>

					<p>

						We are fixing it!<br />

						Please come back in a while.<br /><br />

					</p>

				</div>

			</div>

		</div>

		<!-- END PAGE CONTENT-->

	</div>

	<!-- END PAGE CONTAINER-->

</div>
</block>