<extend name="Base/base" />
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        这里是页面名称

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <form action="#" class="form-horizontal">

                        <table class="table">

                            <thead>

                            <tr>

                                <th>#</th>

                                <th></th>

                                <th>调用条数</th>

                                <th>标题字数</th>

                                <th>时间格式</th>

                            </tr>

                            </thead>

                            <tbody>

                            <tr>
                                <td>模块1调用</td>
                                <td>
                                    <div>
                                        <select data-placeholder="Your Favorite Type of Bear" class="chosen-with-diselect span12" tabindex="-1" id="selCSI">

                                            <option value=""></option>

                                            <option>American Black Bear</option>

                                            <option>Asiatic Black Bear</option>

                                            <option>Brown Bear</option>

                                            <option>Giant Panda</option>

                                            <option>Sloth Bear</option>

                                            <option>Sun Bear</option>

                                            <option>Polar Bear</option>

                                            <option>Spectacled Bear</option>

                                        </select>
                                    </div>

                                </td>

                                <td><input type="text" class="span12 m-wrap"></td>

                                <td><input type="text" class="span12 m-wrap"></td>

                                <td><input type="text" class="span12 m-wrap"/></td>

                            </tr>

                            </tbody>

                        </table>

                        <div class="form-actions">

                            <button type="submit" class="btn blue">提交</button>

                            <button type="button" class="btn">取消</button>

                        </div>

                    </form>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>