<extend name="Base/base" />
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$pageName}

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <form action="/admin/system/homeset" method="post" class="form-horizontal">

                        <table class="table">

                            <thead>

                            <tr>

                                <th>#</th>

                                <th>调用模块</th>

                                <th>调用条数</th>

                                <th>标题字数</th>

                                <th>时间格式</th>

                            </tr>

                            </thead>

                            <tbody>
                            <foreach name="modules" item="module" key="k">
                            <tr>
                                <td>
                                    模块{$k+1}调用:{$module[comment]}
                                    <input type="hidden" name="index{$k}" value="{$module[variable]}">
                                </td>
                                <td>
                                    <div>
                                        <select data-placeholder="选择模块" class="chosen-with-diselect span12" tabindex="-1" name="siteindex{$k}" id="index{$key}">

                                            <option value="0">选择模块</option>
                                            <foreach name="options" item="option">
                                                <if condition="($option[id] eq $module[value][0])">
                                            <option value="{$option[id]}" selected>{$option[modulename]}</option>
                                                    <else/>
                                            <option value="{$option[id]}">{$option[modulename]}</option>
                                                </if>
                                            </foreach>
                                        </select>
                                    </div>

                                </td>

                                <td><input type="text" class="span12 m-wrap" name="num{$k}" value="{$module[value][1]}"></td>

                                <td><input type="text" class="span12 m-wrap" name="words{$k}" value="{$module[value][2]}"></td>

                                <td><input type="text" class="span12 m-wrap" name="date{$k}" value="{$module[value][3]}"/></td>

                            </tr>
                            </foreach>
                            </tbody>

                        </table>

                        <div class="form-actions">

                            <button type="submit" class="btn blue">提交</button>

                            <button type="button" class="btn" onclick="flush()">取消</button>

                        </div>

                    </form>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>