<extend name="Base/base"/>
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        这里是页面名称

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <form action="#" class="form-horizontal">

                        <div class="control-group">

                            <label class="control-label">网站名称</label>

                            <div class="controls">

                                <input type="text" class="span6 m-wrap">

                                <span class="help-inline">*网站名称，将显示在前台首页标题中</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">网站关键字</label>

                            <div class="controls">

                                <input type="text" class="span6 m-wrap">

                                <span class="help-inline">*网站关键字，能被搜索引擎找到。关键字请用英文逗号隔开，不要出现引号</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">网站描述</label>

                            <div class="controls">

                                <textarea class="span6 m-wrap" rows="5" style="resize: none;"></textarea>

                                <span class="help-inline">*网站描述信息</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">网站电话</label>

                            <div class="controls">

                                <input type="text" class="span6 m-wrap">

                                <span class="help-inline">*网站电话，将显示在页面首页的联系方式处</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">网站联系地址</label>

                            <div class="controls">

                                <input type="text" class="span6 m-wrap">

                                <span class="help-inline">*网站地址，将显示在页面首页的联系</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">网站邮件</label>

                            <div class="controls">

                                <input type="text" class="span6 m-wrap">

                                <span class="help-inline">*网站邮件，将显示在页面首页的网站邮件处</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">网站地址</label>

                            <div class="controls">

                                <input type="text" class="span6 m-wrap">

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">网站关闭</label>

                            <div class="controls">

                                <label class="radio">

                                    <div class="radio"><span class="checked"><input type="radio" name="optionsRadios1" checked="" value="option1"></span></div>

                                    开启

                                </label>

                                <label class="radio">

                                    <div class="radio"><span class=""><input type="radio" name="optionsRadios1" value="option2"></span></div>

                                    关闭

                                </label>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">关闭原因</label>

                            <div class="controls">

                                <textarea class="span6 m-wrap" rows="5" style="resize: none;"></textarea>

                                <span class="help-inline">*网站关闭时出现的提示信息</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">管理员IP访问列表</label>

                            <div class="controls">

                                <textarea class="span6 m-wrap" rows="5" style="resize: none;"></textarea>

                                <span class="help-inline">*设置可以访问的管理员的IP，按Enter将多个管理员IP隔开</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">用户IP访问列表</label>

                            <div class="controls">

                                <textarea class="span6 m-wrap" rows="5" style="resize: none;"></textarea>

                                <span class="help-inline">*设置可以访问的用户IP，按Enter将多个用户IP隔开</span>

                            </div>

                        </div>

                        <div class="form-actions">

                            <button type="submit" class="btn blue">提交</button>

                            <button type="button" class="btn">取消</button>

                        </div>

                    </form>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>