<extend name="Base/base"/>
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$pageName}

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <form action="/admin/friendlink/{$type}" method="post" class="form-horizontal">

                        <div class="control-group">

                            <label class="control-label">链接名称</label>

                            <div class="controls">

                                <input type="hidden" name="aim" value="{$link[id]}">

                                <input type="text" class="span6 m-wrap" name="title" value="{$link[title]}">

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">链接地址</label>

                            <div class="controls">

                                <input type="text" class="span6 m-wrap" name="url" value="{$link[url]}">

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">链接模块</label>

                            <div class="controls">

                                <select data-placeholder="选择链接模块"
                                        class="chosen-with-diselect span3" tabindex="-1"
                                        id="sel1" name="link-type">
                                    <foreach name="linkModule" item="i" key="key">
                                        <if condition="($link[linktype] eq $key)">
                                            <option value="{$key}" selected>{$i}</option>
                                            <else/>
                                            <option value="{$key}">{$i}</option>
                                        </if>
                                    </foreach>
                                </select>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">链接类型</label>

                            <div class="controls">

                                <select data-placeholder="选择链接类型"
                                        class="chosen-with-diselect span3" tabindex="-1"
                                        id="sel2" name="type">
                                    <if condition="($link[type] eq 0)">
                                        <option value="0" selected>文本链接</option>

                                        <option value="1">邮箱</option>
                                        <else/>
                                        <option value="0">文本链接</option>

                                        <option value="1" selected>邮箱</option>
                                    </if>

                                </select>

                            </div>

                        </div>

                        <div class="form-actions">

                            <button type="submit" class="btn blue">提交</button>

                            <button type="reset" class="btn">取消</button>

                        </div>

                    </form>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>