<extend name="Base/base"/>
<block name="css_module">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/font-awesome.min.css">

    <!-- Include Editor style. -->
    <link href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/froala_editor.min.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/froala_style.min.css" rel="stylesheet" type="text/css" />

    <!-- Include Code Mirror style -->
    <<!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css"> -->

    <!-- Include Editor Plugins style. -->
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/char_counter.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/code_view.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/colors.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/emoticons.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/file.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/image.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/image_manager.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/quick_insert.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/table.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/css/plugins/video.css">
</block>
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$pageName}

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <form action="/admin/news/create" method="post" class="form-horizontal">

                        <div class="control-group">

                            <label class="control-label">标题</label>

                            <div class="controls">
                                <if condition="($article[id] neq null)"><input type="hidden" name="id" value="{$article[id]}"></if>
                                <input type="text" class="span6 m-wrap" name="title" value="{$article[title]}">
                                <if condition="($id neq null)"><input type="hidden" name="mid" value="{$id}"></if>
                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">简要信息</label>

                            <div class="controls">

                                <textarea class="span6 m-wrap" rows="3" name="sort-content">{$article[sortcontent]}</textarea>

                            </div>

                        </div>



                        <div class="control-group">

                            <label class="control-label">详细信息</label>

                            <div class="controls">

                                <textarea class="span12 m-wrap" rows="6" id="editor" name="content" placeholder="输入您的新闻内容">{$article[content]}</textarea>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">首页轮播显示</label>

                            <div class="controls">

                                <select class="span6 m-wrap" tabindex="1" name="slider">
                                    <if condition="($article[slider] eq 0)">
                                        <option value="0" selected> 否 </option>
                                        <option value="1"> 是 </option>
                                        <else/>
                                        <option value="0"> 否 </option>
                                        <option value="1" selected> 是 </option>
                                    </if>
                                </select>

                                <span class="help-inline">默认为不在首页轮播</span>

                            </div>

                        </div>

                        <div class="form-actions">

                            <button type="submit" class="btn blue">提交</button>

                            <button type="button" class="btn" onclick="back()">取消</button>

                        </div>

                    </form>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>
<block name="js_module">		<!-- Include JS files. -->
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/froala_editor.min.js"></script>

    <!-- Include Code Mirror. -->


    <!-- Include Plugins. -->
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/align.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/char_counter.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/colors.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/emoticons.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/entities.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/file.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/font_size.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/fullscreen.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/image.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/inline_style.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/line_breaker.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/link.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/lists.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/quick_insert.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/quote.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/table.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/save.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/url.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/plugins/video.min.js"></script>

    <!-- Include Language file if we want to use it. -->
    <script type="text/javascript" src="{$Think.const.ADMIN_PLUGINS_PATH}/froalaEditor/js/languages/zh_cn.js"></script>

    <script>
        var toolBarButtons = ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'color', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertHR', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html'];
        $(function() {
            $('#editor').froalaEditor({
                language: 'zh_cn',
                toolbarButtons: toolBarButtons
            });
//            $('#editor').on('froalaEditor.image.removed', function (e, editor, $img) {
//                // Do something here.
//                var imgHttpSrc = $img.context.src;
//                $.get('/admin/file/delete',
//                        {file:imgHttpSrc},
//                        function (data) {
//                            console.log(imgSrc);
//                        }, "json");
//            });
//            $('#editor').on('froalaEditor.file.unlink', function (e, editor, link) {
//                // Do something here.
//                var href = link.href;
//                var imgHttpSrc = $img.context.src;
//                $.get('/admin/file/delete',
//                        {file:href},
//                        function (data) {
//                            console.log(imgSrc);
//                        }, "json");
//            });
        });
    </script>
</block>