<!DOCTYPE html5>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>成都大学 政治学院</title>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<!-- 导航栏css -->
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<!-- 轮播图css -->
	<link rel="stylesheet" href="../css/slider.css">
	<!-- 自己写的css -->
	<link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>