<extend name="Base/base"/>
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$pageName}

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <form action="/admin/database/backup" class="form-horizontal" method="post">

                        <div class="control-group">

                            <label class="control-label">备份文件压缩设定</label>

                            <div class="controls">

                                <label class="radio">

                                    <div class="radio"><span class="checked">
                                        <input type="radio" name="zip" value="0"></span></div>

                                    不压缩

                                </label>

                                <label class="radio">

                                    <div class="radio"><span class=""><input type="radio" name="zip" value="1"></span></div>

                                    分卷文件分别压缩

                                </label>

                                <label class="radio">

                                    <div class="radio"><span class=""><input type="radio" name="zip" checked="" value="2"></span></div>

                                    压缩为一个zip文件

                                </label>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">备份数据库文件兼容格式</label>

                            <div class="controls">

                                <label class="radio">

                                    <div class="radio"><span class="checked"><input type="radio" name="type" value="0"></span></div>

                                    MySQL 3.23/4.0.x

                                </label>

                                <label class="radio">

                                    <div class="radio"><span class=""><input type="radio" checked="" name="type" value="1"></span></div>

                                    MySQL 4.1.x/5.x

                                </label>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">备份的文件名</label>

                            <div class="controls">

                                <input type="text" class="span6 m-wrap" name="file" value="{$file}">

                                <span class="help-inline">*用户名必须为4-19个字母或者数字或者下划线组成</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label">分卷打包大小</label>

                            <div class="controls">

                                <input type="text" class="span6 m-wrap" name="size" value="2048">

                                <span class="help-inline">kb *分卷备份 - 每个分卷文件大小限制(kb)</span>

                            </div>

                        </div>

                        <div class="form-actions">

                            <button type="submit" class="btn blue">备份</button>

                            <button type="button" class="btn">取消</button>

                        </div>

                    </form>

                    <table class="table table-striped table-bordered table-hover dataTable" id="sample_2" aria-describedby="sample_2_info">

                        <thead>
                        <tr role="row">

                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 166px;">序号
                            </th>

                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 166px;">备份文件名称
                            </th>

                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 166px;">备份文件大小
                            </th>

                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 166px;">备份时间
                            </th>

                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 166px;">操作
                            </th>

                        </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <foreach name="files" item="f" key="k">
                        <tr class="gradeX odd">

                            <td class=" ">{$k+1}</td>

                            <td class="">{$f}</td>

                            <td class="">{:filesize($_SERVER['DOCUMENT_ROOT'] . '/Public/backup/'.$f)}</td>

                            <td class="center">{:date('Y-m-d i:s',filemtime($_SERVER['DOCUMENT_ROOT'] . '/Public/backup/'.$f))}</td>

                            <td class=" ">
                                <a href="javascript:void(0);" _href="/Public/backup/{$f}" onclick="down_file(this)" class="btn blue">下载</a>
                                <a href="javascript:void(0);" onclick="del_file('{$f}', this)" class="btn red">删除</a>
                            </td>

                        </tr>
                        </foreach>
                        </tbody>

                    </table>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>
<block name="js_module">
    <script>
        function del_file(file, obj) {
            $.get('/admin/database/delete',
                    {file:file},
                    function(data) {
                        if(data.status == 1000) {
                            alert(file+' 备份文件已删除!!');
                            $(obj).parents('tr').remove();
                        } else {
                            alert('服务器错误!请重新试试!');
                        }
                    },"json"
            );
        }

        function down_file(obj) {
            var url = $(obj).attr('_href');
            window.open(url);
        }
    </script>
</block>