<extend name="Base/base"/>
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        这里是页面名称

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <form action="#" class="form-horizontal">

                        <div class="control-group">

                            <label class="control-label">请在这里输入要运行的SQL语句</label>

                            <div class="controls">

                                <textarea class="span6 m-wrap" rows="5" style="resize: none;"></textarea>

                                <span class="help-inline">*输入要执行的SQL语句，看能否执行正确　　</span>

                            </div>

                        </div>

                        <div class="form-actions">

                            <button type="submit" class="btn blue">运行</button>

                            <button type="button" class="btn">取消</button>

                        </div>

                    </form>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>