<extend name="Base/base"/>
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$pageName}

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <form action="/admin/database/run" method="post" class="form-horizontal">

                        <div class="control-group">

                            <label class="control-label">输入运行的SQL语句</label>

                            <div class="controls">

                                <textarea class="span6 m-wrap" rows="5" name="sql" style="resize: none;"></textarea>

                                <span class="help-inline">*输入要执行的SQL语句，看能否执行正确<br>
                                    <p class="text text-danger">(请谨慎操作!数据无价!)</p>
                                </span>

                            </div>

                        </div>

                        <div class="form-actions">

                            <button type="submit" class="btn blue">运行</button>

                            <button type="reset" class="btn">取消</button>

                        </div>

                    </form>

                </div>
                <if condition="($error neq null) or ($aim neq null)">
                <div class="span11 blue-stripe">
                    <label>执行结果:</label>
                    <pre>{$error}{:dump($aim)}</pre>
                </div>
                </if>
            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>