<extend name="Base/base"/>

<block name="css_model">
    <link rel="stylesheet" href="{$Think.const.CSS_PATH}/slider.css">
</block>

<block name="body">

    <!-- 新闻轮播图 open -->
    <section class="news-slider">
        <div class="container">
            <div class="example-slide clearfix">
                <div id="slides" class="slidest">
                    <div class="slides_container">
                    <foreach name="articles[0]" item="article">
                        <div class="slide">
                            <div class="slide-left">
                                <a href="/home/show?id={$article[id]}" title="{$article[title]}" ><img src="{$article[url]}" alt="{$article[title]}" width="" height=""></a>
                            </div>
                            <!--public/imgs/slide.jpg-->
                            <div class="slide-right">
                                <div class="hotinfo-tit">
                                    <nobr> {$article[title]} </nobr>
                                </div>
                                <div class="hotinfo-desc">
                                    {$article[content]}
                                </div>
                                <div class="hotinfo-item clearfix">
                                    <div class="hotinfo-link">
                                        <a class="button small">阅读详情</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </foreach>
                    </div>
                    <a href="#" class="prev"></a>
                    <a href="#" class="next"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- 新闻轮播图 close -->

    <!-- 首页新闻 open -->
    <section id="section3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-links-wrapper">
                        <h2><span>学院新闻</span><small><a href="/home/list?id={:explode(',' ,$settings[siteindex1])[0]}">更多</a></small></h2>
                        <ul>
                            <foreach name="articles[1]" item="article">
                                <li>
                                    <a href="/home/show?id={$article[id]}" target="_blank">{$article[title]}</a>
                                    <span class="pull-right"> {:date($article[$siteIndex[1]], $article[addtime])} </span>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-links-wrapper">
                        <h2><span>通知公告</span><small><a href="/home/list?id={:explode(',' ,$settings[siteindex2])[0]}">更多</a></small></h2>
                        <ul>
                        <foreach name="articles[2]" item="article">
                            <li>
                                <a href="/home/show?id={$article[id]}" target="_blank">{$article[title]}</a>
                                <span class="pull-right"> {:date($siteIndex[2], $article[addtime])} </span>
                            </li>
                        </foreach>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-links-wrapper">

                        <h2><span>教学工作</span><small><a href="/home/list?id={:explode(',' ,$settings[siteindex3])[0]}">更多</a></small></h2>
                        <ul>
                        <foreach name="articles[3]" item="article">
                            <li>
                                <a href="/home/show?id={$article[id]}" target="_blank">{$article[title]}</a>
                                <span class="pull-right"> {:date($siteIndex[3], $article[addtime])} </span>
                            </li>
                        </foreach>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-links-wrapper">

                        <h2><span>科研工作</span><small><a href="/home/list?id={:explode(',' ,$settings[siteindex4])[0]}">更多</a></small></h2>
                        <ul>
                        <foreach name="articles[4]" item="article">
                            <li>
                                <a href="/home/show?id={$article[id]}" target="_blank">{$article[title]}</a>
                                <span class="pull-right"> {:date($siteIndex[4], $article[addtime])} </span>
                            </li>
                        </foreach>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-links-wrapper">

                        <h2><span>学生工作</span><small><a href="/home/list?id={:explode(',' ,$settings[siteindex5])[0]}">更多</a></small></h2>
                        <ul>
                        <foreach name="articles[5]" item="article">
                            <li>
                                <a href="/home/show?id={$article[id]}" target="_blank">{$article[title]}</a>
                                <span class="pull-right"> {:date($siteIndex[5], $article[addtime])} </span>
                            </li>
                        </foreach>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-links-wrapper">

                        <h2><span>党群工作</span><small><a href="/home/list?id={:explode(',' ,$settings[siteindex6])[0]}">更多</a></small></h2>
                        <ul>
                        <foreach name="articles[6]" item="article">
                            <li>
                                <a href="/home/show?id={$article[id]}" target="_blank">{$article[title]}</a>
                                <span class="pull-right"> {:date($siteIndex[6], $article[addtime])} </span>
                            </li>
                        </foreach>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 首页新闻 close -->
</block>

<block name="js_model">
    <script src="{$Think.const.JS_PATH}/slides.min.jquery.js"></script>
</block>