<extend name="Base/base"/>

<block name="css_model">
    <link rel="stylesheet" href="{$Think.const.CSS_PATH}/slider.css">
</block>

<block name="body">

    <!-- 新闻轮播图 open -->
    <section class="news-slider">
        <div class="container">
            <div class="example-slide clearfix">
                <div id="slides" class="slidest">
                    <div class="slides_container">

                        <div class="slide">
                            <div class="slide-left">
                                <a href="#" title="图片信息2" ><img src="{$Think.const.IMG_PATH}/slide-2.jpg" alt="Slide 2"></a>
                            </div>
                            <div class="slide-right">
                                <div class="hotinfo-tit">图片信息2</div>
                                <div class="hotinfo-desc">jQuery是免费、开源的，使用MIT许可协议。jQuery的语法设计可以使开发更加便捷，例如操作文档对象、选择DOM元素、制作动画效果、事件处理、使用Ajax以及其他功能。除此以外，jQuery提供API让开发者编写插件...
                                </div>
                                <div class="hotinfo-item clearfix">
                                    <div class="hotinfo-link">
                                        <a class="button small">阅读详情</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slide">
                            <div class="slide-left">
                                <a href="#" title="图片信息2" ><img src="{$Think.const.IMG_PATH}/slide-3.jpg" alt="Slide 2"></a>
                            </div>
                            <div class="slide-right">
                                <div class="hotinfo-tit">图片信息2</div>
                                <div class="hotinfo-desc">jQuery是免费、开源的，使用MIT许可协议。jQuery的语法设计可以使开发更加便捷，例如操作文档对象、选择DOM元素、制作动画效果、事件处理、使用Ajax以及其他功能。除此以外，jQuery提供API让开发者编写插件...
                                </div>
                                <div class="hotinfo-item clearfix">
                                    <div class="hotinfo-link">
                                        <a class="button small">阅读详情</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a href="#" class="prev"></a>
                    <a href="#" class="next"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- 新闻轮播图 close -->

    <!-- 首页新闻 open -->
    <section id="section3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-links-wrapper">
                        <h2><span>学院新闻</span><small><a href="">更多</a></small></h2>
                        <ul>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University<span class="set-new"></span></a>

                                <span class="pull-right">2016-4-6</span>
                            </li>

                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University<span class="set-ding"></span></a>
                                <span class="pull-right">2016-4-6</span>
                            </li>

                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>

                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>

                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>

                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-links-wrapper">
                        <h2><span>通知公告</span><small><a href="">更多</a></small></h2>
                        <ul>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-links-wrapper">

                        <h2><span>教学工作</span><small><a href="">更多</a></small></h2>
                        <ul>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-links-wrapper">

                        <h2><span>科研工作</span><small><a href="">更多</a></small></h2>
                        <ul>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-links-wrapper">

                        <h2><span>学生工作</span><small><a href="">更多</a></small></h2>
                        <ul>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-links-wrapper">

                        <h2><span>党群工作</span><small><a href="">更多</a></small></h2>
                        <ul>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                            <li>
                                <a href="" target="_blank">Anderson Collection at Stanford University</a>
                                <span class="pull-right">2016-4-6</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 首页新闻 close -->
</block>

<block name="js_model">
    <script src="{$Think.const.JS_PATH}/slides.min.jquery.js"></script>
</block>