<extend name="Base/base"/>
<block name="body">
    <!-- left_side_bar start  -->
    <section class="section4">
        <div class="container">
            <div class="row">
                <!-- 二级页面的左边导航栏 -->
                <div class="col-lg-2 subpage">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">Cras justo odio</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Cras justo odio</a>
                        </li><li class="list-group-item">
                        <a href="#">Cras justo odio</a>
                    </li>
                        <li class="list-group-item">
                            <a href="#">Cras justo odio</a>
                        </li><li class="list-group-item">
                        <a href="#">Cras justo odio</a>
                    </li>
                        <li class="list-group-item">
                            <a href="#">Cras justo odio</a>
                        </li><li class="list-group-item">
                        <a href="#">Cras justo odio</a>
                    </li>
                        <li class="list-group-item">
                            <a href="#">Cras justo odio</a>
                        </li><li class="list-group-item">
                        <a href="#">Cras justo odio</a>
                    </li>
                        <li class="list-group-item">
                            <a href="#">Cras justo odio</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Cras justo odio</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Cras justo odio</a>
                        </li>
                    </ul>
                </div>

                <!-- right_content start -->
                <div class="col-lg-10">
                    <div class="panel panel-primary">
                        <div class="panel-heading">这里是二级页面的名称 例如：教师介绍</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="/index/single">Cras justo odio<span class="set-new"></span></a>
                                    <span class="pull-right">日期</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Cras justo odio<span class="set-new"></span><span class="set-ding"></span></a>
                                    <span class="pull-right">日期</span>
                                </li><li class="list-group-item">
                                <a href="#">Cras justo odio<span class="set-new"></span></a>
                                <span class="pull-right">日期</span>
                            </li>
                                <li class="list-group-item">
                                    <a href="#">Cras justo odio<span class="set-new"></span></a>
                                    <span class="pull-right">日期</span>
                                </li><li class="list-group-item">
                                <a href="#">Cras justo odio<span class="set-new"></span></a>
                                <span class="pull-right">日期</span>
                            </li>
                                <li class="list-group-item">
                                    <a href="#">Cras justo odio</a>
                                    <span class="pull-right">日期</span>
                                </li><li class="list-group-item">
                                <a href="#">Cras justo odio</a>
                                <span class="pull-right">日期</span>
                            </li>
                                <li class="list-group-item">
                                    <a href="#">Cras justo odio</a>
                                    <span class="pull-right">日期</span>
                                </li><li class="list-group-item">
                                <a href="#">Cras justo odio</a>
                                <span class="pull-right">日期</span>
                            </li>
                                <li class="list-group-item">
                                    <a href="#">Cras justo odio</a>
                                    <span class="pull-right">日期</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Cras justo odio</a>
                                    <span class="pull-right">日期</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Cras justo odio</a>
                                    <span class="pull-right">日期</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- 二级页面分页 -->
                    <nav>
                        <ul class="pagination">
                            <li class="disabled">
                                <span aria-hidden="true">&laquo;</span>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <!-- right_content end -->

                <!-- 二级页面的左边导航栏 在这下面加上内容页-->

                <!-- 二级页面的左边导航栏 在这下面加上内容页-->

            </div>
        </div>
    </section>
    <!-- left_side_bar end  -->


</block>