<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

    <meta charset="utf-8" />

    <title>政治学院 | 后台管理系统</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />

    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{$Think.const.ADMIN_CSS_PATH}/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/style-metro.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/style.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/style-responsive.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/uniform.default.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->

    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_PATH}/select2_metro.css" />

    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_PATH}/DT_bootstrap.css" />

    <!-- END PAGE LEVEL STYLES -->
    <block name="css_module"></block>
</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed page-sidebar-fixed page-footer-fixed">

<!-- BEGIN HEADER -->

<div class="header navbar navbar-inverse navbar-fixed-top">

    <!-- BEGIN TOP NAVIGATION BAR -->

    <div class="navbar-inner">

        <div class="container-fluid">

            <!-- BEGIN LOGO -->

            <a class="brand" href="">

                <p>后台管理系统</p>

            </a>

            <!-- END LOGO -->

            <!-- BEGIN RESPONSIVE MENU TOGGLER -->

            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

                <img src="{$Think.const.ADMIN_IMG_PATH}/menu-toggler.png" alt="" />

            </a>

            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- BEGIN TOP NAVIGATION MENU -->

            <ul class="nav pull-right">

                <!-- BEGIN USER LOGIN DROPDOWN -->

                <li class="dropdown user">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <span class="username"> {$Think.session.user.department} : {$Think.session.user.username}</span>

                        <i class="icon-angle-down"></i>

                    </a>

                    <ul class="dropdown-menu">

                        <li><a href="__MODULE__/login/logout"><i class="icon-key"></i>退出</a></li>

                    </ul>

                </li>

                <!-- END USER LOGIN DROPDOWN -->

            </ul>

            <!-- END TOP NAVIGATION MENU -->

        </div>

    </div>

    <!-- END TOP NAVIGATION BAR -->

</div>

<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid">

    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">

        <!-- BEGIN SIDEBAR MENU -->

        <ul class="page-sidebar-menu">

            <li >

                <a href="/admin">首页</a>

            </li>

            <if condition="($moduleActive eq 'system')">
            <li class="active">
                <else/>
            <li class="">
            </if>

                <a href="javascript:;">

                    <i class="icon-cogs"></i>

                    <span class="title">系统基础设置</span>

                    <span class="selected"></span>

                    <span class="arrow open"></span>

                </a>

                <ul class="sub-menu">
                    <foreach name="actions" item="item">
                        <if condition="($sysAuth[$item] neq null)">
                            <li ><a href="{$sysAuth[$item][url]}">{$sysAuth[$item][name]}</a></li>
                        </if>
                    </foreach>
                </ul>

            </li>

            <if condition="($moduleActive eq 'module')">
                <li class="active">
                    <else/>
                <li class="">
            </if>
                <a href="javascript:;">

                    <i class="icon-cogs"></i>

                    <span class="title">网站设置</span>

                    <span class="selected"></span>

                    <span class="arrow open"></span>

                </a>

                <ul class="sub-menu">
                    <foreach name="actions" item="item">
                        <if condition="($siteSet[$item] neq null)">
                            <li ><a href="{$siteSet[$item][url]}">{$siteSet[$item][name]}</a></li>
                        </if>
                    </foreach>
                </ul>

            </li>

            <if condition="($moduleActive eq 'news')">
                <li class="active">
                    <else/>
                <li class="">
            </if>

                <a class="active" href="javascript:;">

                    <i class="icon-sitemap"></i>

                    <span class="title">网站栏目</span>

                    <span class="arrow "></span>

                </a>

                <ul class="sub-menu">

                    <li>
                    <if condition="((preg_match('/slider/', implode(',', $actions))) or ($Think.session.user.userlevel lt 2))">
                        <a href="/admin/news/slider"> 首页轮播新闻 </a>
                    </if>
                    </li>

                    <volist name="sitemodules" id="module">
                        <li>
                            <if condition="($module[moduletype] neq 'Sub')">
                                <a href="/admin/news?id={$module[id]}"> {$module[modulename]} </a>
                                <else/>
                                <a href="javascript:;">{$module[modulename]}<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <volist name="module[cmodule]" id="child">
                                    <li><a href="/admin/news?id={$child[id]}">{$child[modulename]}</a></li>
                                    </volist>
                                </ul>
                            </if>
                        </li>
                    </volist>
                </ul>

            </li>

        </ul>

        <!-- END SIDEBAR MENU -->

    </div>
    <!-- END SIDEBAR -->

    <block name="page_content">
    <!-- BEGIN PAGE -->
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        欢迎使用!

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <div class="portlet box red">

                        <div class="portlet-title">

                            <div class="caption"><i class="icon-cogs"></i>版权信息</div>

                        </div>

                        <div class="portlet-body">

                            <table class="table table-bordered table-hover">

                                <tbody>

                                <tr>

                                    <td>版权所有</td>
                                    <td> 成都大学|政治学院版权所有 </td>

                                </tr>

                                <tr>

                                    <td>项目开发人员：</td>
                                    <td>前台开发：张泽玮 （成都大学  信息科学与工程学院  2013级软件工程二班学生）<br>
                                        后台开发：黄金宏 （成都大学  信息科学与工程学院  2013级软件工程四班学生）<br>
                                        界面布局与设计：卢俊华（成都大学  政治学院教师）</td>

                                </tr>

                                <tr>

                                    <td>联系方式</td>
                                    <td>
                                        张泽玮（电话：13320721196 , QQ：453646474）<br>
                                        黄金宏（电话：18584058227 , QQ：986078867）<br>
                                        卢俊华（电话：15228806098 , QQ：624969088）
                                    </td>

                                </tr>

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
    <!-- END PAGE -->
    </block>

</div>

<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->

<div class="footer">

    <div class="footer-inner">

        2015 &copy; 成都大学|政治学院版权所有

    </div>

    <div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

    </div>

</div>

<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

<!-- BEGIN CORE PLUGINS -->

<script src="{$Think.const.ADMIN_JS_PATH}/jquery-1.10.1.min.js" type="text/javascript"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

<script src="{$Think.const.ADMIN_JS_PATH}/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/bootstrap.min.js" type="text/javascript"></script>

<!--[if lt IE 9]>

<script src="{$Think.const.ADMIN_JS_PATH}/excanvas.min.js"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/respond.min.js"></script>

<![endif]-->

<script src="{$Think.const.ADMIN_JS_PATH}/jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/jquery.blockui.min.js" type="text/javascript"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/jquery.cookie.min.js" type="text/javascript"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/jquery.uniform.min.js" type="text/javascript" ></script>

<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="{$Think.const.ADMIN_JS_PATH}/select2.min.js"></script>

<script type="text/javascript" src="{$Think.const.ADMIN_JS_PATH}/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="{$Think.const.ADMIN_JS_PATH}/DT_bootstrap.js"></script>

<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->

<script src="{$Think.const.ADMIN_JS_PATH}/app.js"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/table-managed.js"></script>

<block name="js_module"></block>
<script>

    function flush() {
        location.reload(true);
    }

    function back() {
        window.history.back();
    }

    jQuery(document).ready(function() {

        App.init();

        TableManaged.init();

    });

</script>

<!-- END JAVASCRIPTS -->
</body>

<!-- END BODY -->

</html>
