<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

    <meta charset="utf-8" />

    <title>政治学院 | 后台管理系统</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />

    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{$Think.const.ADMIN_CSS_PATH}/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/style-metro.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/style.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/style-responsive.css" rel="stylesheet" type="text/css"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="{$Think.const.ADMIN_CSS_PATH}/uniform.default.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->

    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_PATH}/select2_metro.css" />

    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_PATH}/DT_bootstrap.css" />

    <!-- END PAGE LEVEL STYLES -->
    <block name="css_module"></block>
</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<div class="header navbar navbar-inverse navbar-fixed-top">

    <!-- BEGIN TOP NAVIGATION BAR -->

    <div class="navbar-inner">

        <div class="container-fluid">

            <!-- BEGIN LOGO -->

            <a class="brand" href="">

                <p>后台管理系统</p>

            </a>

            <!-- END LOGO -->

            <!-- BEGIN RESPONSIVE MENU TOGGLER -->

            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

                <img src="{$Think.const.ADMIN_IMG_PATH}/menu-toggler.png" alt="" />

            </a>

            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- BEGIN TOP NAVIGATION MENU -->

            <ul class="nav pull-right">

                <!-- BEGIN USER LOGIN DROPDOWN -->

                <li class="dropdown user">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <span class="username">您好：{$Think.session.user.department}</span>

                        <i class="icon-angle-down"></i>

                    </a>

                    <ul class="dropdown-menu">

                        <li><a href="__MODULE__/login/logout"><i class="icon-key"></i>退出</a></li>

                    </ul>

                </li>

                <!-- END USER LOGIN DROPDOWN -->

            </ul>

            <!-- END TOP NAVIGATION MENU -->

        </div>

    </div>

    <!-- END TOP NAVIGATION BAR -->

</div>

<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid">

    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">

        <!-- BEGIN SIDEBAR MENU -->

        <ul class="page-sidebar-menu">

            <li >

                <a href="/admin">首页</a>

            </li>

            <li class="active">
            <!--<li class="">-->

                <a href="javascript:;">

                    <i class="icon-cogs"></i>

                    <span class="title">系统基础设置</span>

                    <span class="selected"></span>

                    <span class="arrow open"></span>

                </a>

                <ul class="sub-menu">

                    <li ><a href="/Admin/system">系统参数设置</a></li>

                    <li ><a href="/admin/system/home">首页调用设置</a></li>

                    <li ><a href="/admin/sysuser">管理员账号管理</a></li>

                    <li ><a href="/admin/database">数据库优化</a></li>

                    <li ><a href="/admin/database/backup">数据库备份</a></li>

                    <li ><a href="/admin/database/run">运行SQL语句</a></li>

                    <li ><a href="/admin/database/run">数据库批处理</a></li>

                </ul>

            </li>

            <!--<li class="active ">-->
            <li class="">

                <a href="javascript:;">

                    <i class="icon-cogs"></i>

                    <span class="title">网站设置</span>

                    <span class="selected"></span>

                    <span class="arrow open"></span>

                </a>

                <ul class="sub-menu">

                    <li ><a href="/admin/module/set">网站栏目管理</a></li>

                    <li ><a href="">网站留言管理</a></li>

                    <li ><a href="/admin/friendLink">友情链接管理</a></li>

                </ul>

            </li>

            <!-- todo 需要后台读取 -->
            <li>

                <a class="active" href="javascript:;">

                    <i class="icon-sitemap"></i>

                    <span class="title">网站栏目</span>

                    <span class="arrow "></span>

                </a>

                <ul class="sub-menu">

                    <li>
                        <a href="javascript:;">学院概况<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="/admin/news/add">学院简介</a></li>

                            <li><a href="/admin/news/all">学院领导</a></li>

                            <li><a href="#">机构设置</a></li>

                            <li><a href="#">教研室简介</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;">师资队伍<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#">师资概况</a></li>

                            <li><a href="#">教师风采</a></li>

                            <li><a href="#">师德师风</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;">教学工作<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#">教务信息</a></li>

                            <li><a href="#">教学动态</a></li>

                            <li><a href="#">质量工程</a></li>

                            <li><a href="#">管理制度</a></li>

                            <li><a href="#">资料下载</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;">学科建设<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#">马克思主义硕士点</a></li>

                            <li><a href="#">重点学科</a></li>

                            <li><a href="#">工作动态</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;">学术研究<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#">科研团队</a></li>

                            <li><a href="#">学术讲座</a></li>

                            <li><a href="#">科研动态</a></li>

                            <li><a href="#">研究平台</a></li>

                            <li><a href="#">学术观点</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="">合作交流（我只做了一些demo的样子）</a>
                    </li>
                </ul>

            </li>

        </ul>

        <!-- END SIDEBAR MENU -->

    </div>
    <!-- END SIDEBAR -->

    <block name="page_content">
    <!-- BEGIN PAGE -->
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        欢迎使用!

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <div class="portlet box red">

                        <div class="portlet-title">

                            <div class="caption"><i class="icon-cogs"></i>版权信息</div>

                        </div>

                        <div class="portlet-body">

                            <table class="table table-bordered table-hover">

                                <tbody>

                                <tr>

                                    <td>版权所有</td>
                                    <td>***</td>

                                </tr>

                                <tr>

                                    <td>公司网站</td>
                                    <td>***</td>

                                </tr>

                                <tr>

                                    <td>联系方式</td>
                                    <td>
                                        电话:027-87517020 87517312 <br>
                                        邮箱:mitol.huang@gmail.com  <br>
                                        Q Q:986078867(黄金宏),453646474(张泽伟)
                                    </td>

                                </tr>

                                <tr>

                                    <td>二次开发</td>
                                    <td>
                                        界面设计：张泽玮 （成都大学&nbsp;&nbsp;信息科学与工程学院&nbsp;&nbsp;2013级软件工程二班学生）<br>
                                        后台开发：黄金宏 （成都大学&nbsp;&nbsp;信息科学与工程学院&nbsp;&nbsp;2013级软件工程四班学生）
                                    </td>

                                </tr>

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
    <!-- END PAGE -->
    </block>

</div>

<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->

<div class="footer">

    <div class="footer-inner">

        2013 &copy; Metronic by keenthemes.

    </div>

    <div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

    </div>

</div>

<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

<!-- BEGIN CORE PLUGINS -->

<script src="{$Think.const.ADMIN_JS_PATH}/jquery-1.10.1.min.js" type="text/javascript"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

<script src="{$Think.const.ADMIN_JS_PATH}/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/bootstrap.min.js" type="text/javascript"></script>

<!--[if lt IE 9]>

<script src="{$Think.const.ADMIN_JS_PATH}/excanvas.min.js"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/respond.min.js"></script>

<![endif]-->

<script src="{$Think.const.ADMIN_JS_PATH}/jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/jquery.blockui.min.js" type="text/javascript"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/jquery.cookie.min.js" type="text/javascript"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/jquery.uniform.min.js" type="text/javascript" ></script>

<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="{$Think.const.ADMIN_JS_PATH}/select2.min.js"></script>

<script type="text/javascript" src="{$Think.const.ADMIN_JS_PATH}/jquery.dataTables.js"></script>

<script type="text/javascript" src="{$Think.const.ADMIN_JS_PATH}/DT_bootstrap.js"></script>

<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->

<script src="{$Think.const.ADMIN_JS_PATH}/app.js"></script>

<script src="{$Think.const.ADMIN_JS_PATH}/table-managed.js"></script>

<script>

    jQuery(document).ready(function() {

        App.init();

        TableManaged.init();

    });

</script>
<block name="js_module"></block>

<!-- END JAVASCRIPTS -->
</body>

<!-- END BODY -->

</html>
