<extend name="Base/base" />
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$pageName}

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <form action="" method="post" class="form-horizontal">

                        <div class="control-group">

                            <label class="control-label" for="name">用户名</label>

                            <div class="controls">
                                <if condition="($admin['userlevel'] egt 1)">
                                    <input name="before" value="{$admin[id]}" type="hidden"/>
                                </if>
                                <input type="hidden" name="crsf" id="crsf" value="{$flag}"/>

                                <input type="text" id="name" name="name" class="span6 m-wrap" value="{$admin[username]}">

                                <span class="help-inline">*用户名必须为4-19个字母或者数字或者下划线组成</span>

                            </div>

                        </div>

                        <div class="control-group">

                            <label class="control-label" for="password">密码</label>

                            <div class="controls">

                                <input type="password" name="password" id="password" class="span6 m-wrap">

                                <span class="help-inline">*密码必须为6-19个字母数字和下划线组成</span>

                            </div>

                        </div>

                        <div class="control-group" id="manager-class">

                            <label class="control-label">管理员级别</label>

                            <div class="controls">

                                <label class="radio" for="super-manager">

                                    <div class="radio"><span class="checked">
                                        <input id="super-manager" type="radio"
                                               name="manager-class"
                                               <if condition="($admin['userlevel'] eq 1) or $admin eq null">
                                               checked=""
                                                   <else/>
                                               </if>
                                               value="1"></span></div>

                                    超级管理员

                                </label>

                                <label class="radio" for="manager">

                                    <div class="radio"><span class="">
                                        <input id="manager" type="radio"
                                               name="manager-class"
                                               <if condition="($admin['userlevel'] eq 2)">
                                                   checked=""
                                                   <else/>
                                               </if>
                                               value="2">
                                    </span></div>

                                    管理员

                                </label>

                            </div>

                        </div>

                        <div class="control-group manager-access">

                            <label class="control-label">系统基础设置</label>

                            <div class="controls">

                                <div class="row-fluid">

                                    <div class="span3">

                                        <label class="checkbox line">

                                            <input type="checkbox" value="system_set"
                                                   name="system-setting[]"
                                            <?php if(strpos('system_set', $auth) >= 0) echo 'checked';?>
                                            > 系统参数设置

                                        </label>

                                        <label class="checkbox line">

                                            <input type="checkbox" value="system_skin"
                                                   name="system-setting[]"
                                            <?php if(strpos('system_skin', $auth) >= 0) echo 'checked';?>
                                            > 首页调用设置

                                        </label>

                                        <label class="checkbox line">

                                            <input type="checkbox" value="system_user"
                                                   name="system-setting[]"
                                            <?php if(strpos('system_user', $auth) >= 0) echo 'checked';?>
                                            > 管理员账号管理

                                        </label>

                                    </div>

                                    <div class="span3">

                                        <label class="checkbox line">

                                            <input type="checkbox" value="database"
                                                   name="system-setting[]"
                                            <?php if(strpos('database', $auth) >= 0) echo 'checked';?>
                                            > 数据库优化

                                        </label>

                                        <label class="checkbox line">

                                            <input type="checkbox" value="database_backup"
                                                   name="system-setting[]"
                                            <?php if(strpos('database_backup', $auth) >= 0) echo 'checked';?>
                                            > 数据库备份

                                        </label>

                                    </div>

                                    <div class="span3">

                                        <label class="checkbox line">

                                            <input type="checkbox" value="database_query"
                                                   name="system-setting[]"
                                            <?php if(strpos('database_query', $auth) >= 0) echo 'checked';?>
                                            > 运行 SQL 语句

                                        </label>

                                        <label class="checkbox line">

                                            <input type="checkbox" value="database_replace"
                                                   name="system-setting[]"
                                            <?php if(strpos('database_replace', $auth) >= 0) echo 'checked';?>
                                            > 数据库批处理

                                        </label>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="control-group manager-access">

                            <label class="control-label">网站设置</label>

                            <div class="controls">

                                <div class="row-fluid">

                                    <div class="span3">

                                        <label class="checkbox line">

                                            <input type="checkbox" value="module"
                                                   name="website-setting[]"
                                            <?php if(strpos('module', $auth) >= 0) echo 'checked';?>
                                            > 网站栏目管理

                                        </label>
                                    </div>

                                    <div class="span3">
                                        <label class="checkbox line">

                                            <input type="checkbox" value="sitebook"
                                                   name="website-setting[]"
                                            <?php if(strpos('sitebook', $auth) >= 0) echo 'checked';?>
                                            > 网站留言管理

                                        </label>
                                    </div>

                                    <div class="span3">
                                        <label class="checkbox line">
                                            <input type="checkbox" value="friendlink"
                                                   name="website-setting[]"
                                            <?php if(strpos('friendlink', $auth) >= 0) echo 'checked';?>
                                            > 友情链接管理
                                        </label>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="control-group manager-access">

                            <label class="control-label">网站栏目</label>

                            <div class="controls">

                                <div class="row-fluid">

                                    <div class="span3">

                                        <label class="checkbox line">

                                            <input type="checkbox" value="module" name="website-setting[]"> 网站栏目管理

                                        </label>
                                    </div>

                                    <div class="span3">
                                        <label class="checkbox line">

                                            <input type="checkbox" value="sitebook" name="website-setting[]"> 网站留言管理

                                        </label>
                                    </div>

                                    <div class="span3">
                                        <label class="checkbox line">
                                            <input type="checkbox" value="friendlink" name="website-setting[]"> 友情链接管理
                                        </label>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="form-actions">

                            <button type="submit" class="btn blue">添加</button>

                            <button type="button" class="btn">取消</button>

                        </div>

                    </form>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>
<block name="js_module">
    <script>
        jQuery(document).ready(function() {
            var isChecked = $('#manager').attr('checked');
            console.log(isChecked);
            if(isChecked != 'checked') $('.manager-access').hide(300);
            $('[name="manager-class"]').click(function() {
                if($(this).attr('id') == 'manager') {
                    $('.manager-access').show(300);
                } else {
                    $('.manager-access').hide(300);
                }
            });
        });
    </script>
</block>