<extend name="Base/base" />
<block name="page_content">
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$pageName}

                    </h3>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <table class="table table-striped table-bordered table-hover dataTable" id="sample_2" aria-describedby="sample_2_info">

                        <thead>

                        <tr role="row">

                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 166px;">用户名
                            </th>

                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 166px;">管理员级别
                            </th>

                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 166px;">上次登录时间
                            </th>

                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 166px;">上次登录IP
                            </th>

                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 166px;">操作
                            </th>
                        </tr>

                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <foreach name="admins" item="admin">
                        <tr class="gradeX odd">

                            <td class="">{$admin[username]}</td>

                            <td class="">{$admin[userlevel] == 2? '管理员':'超级管理员'}</td>

                            <td class="">{$admin[lastlogintime]|date="Y-m-d H:i",###}</td>

                            <td class="center">{$admin[lastloginip]}</td>

                            <td>
                                <a href="/admin/sysuser/modify?id={$admin[id]}" class="btn blue">编辑</a>
                                <if condition="($admin[id] eq session('user')['id'])">
                                    <else/>
                                    <a href="javascript:void(0);"  onclick="deleteUser({$admin[id]}, this)" class="btn red">删除</a>
                                </if>
                            </td>
                        </tr>
                        </foreach>
                        </tbody>

                    </table>

                    <div class="form-actions">

                        <a href="/admin/sysuser/add" class="btn green pull-right">添加管理员</a>

                    </div>

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
</block>
<block name="js_module">
<script>
    function deleteUser(id, obj) {
        var flag = confirm('确定要删除该用户吗?');
        if(flag) {
            $.get('/admin/sysuser/delete/'+ id,
            function(data) {
                console.log(data);
                if(data.status == 1000) {
                    alert('用户删除成功!');
                    $(obj).parents('tr').remove();
                } else {
                    alert(data.data);
                }
            },"json");
        }
    }
</script>
</block>